
body {
    /* feel free to update these css variables for a quick theme */
    
   /* --color1: white;
    --color2: white;
    --color3: white;
    --color4: white;
    --color5: white;
    
     https://coolors.co/generate and click export -> scss to get the colors to copy and paste below*/
        
      /*--color1: hsla(349, 69%, 76%, 1);
    --color2: hsla(207, 67%, 44%, 1);
    --color3: hsla(200, 61%, 56%, 1);
    --color4: hsla(187, 41%, 94%, 1);
    --color5: hsla(170, 28%, 95%, 1); */

    --color1: hsla(45, 86%, 83%, 1);
    --color2: hsla(135, 65%, 98%, 1);
    --color3: hsla(315, 37%, 86%, 1);
    --color4: hsla(45, 73%, 98%, 1);
    --color5: hsla(224, 40%, 79%, 1); 
    
    --header-height: 80px;
    --shadow: 0px 10px 20px -12px rgba(0,0,0,0.45);
    --gutter: 30px;
    --footer-height: 25px;
    
    font-family: 'Titillium Web', sans-serif;
    background-color: var(--color5);
}

 main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: calc(var(--footer-height));
}

header {
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    height: var(--header-height);
    box-shadow: var(--shadow);
}


h2 {
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
    color: blueviolet
}

h3 {
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
}

.results {
    text-align: center;
}

.gutter-right {
    margin-right: 20px;
}

header img {
    height: var(--header-height);
}

p {
    margin: var(--gutter);
}
  
footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: var(--footer-height);
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    box-shadow: var(--shadow);
}

#con {
    color:rgb(109, 28, 8);
    font-weight: bold;
}

#house {
    color:slateblue;
    font-weight: bold;
}

#loc {
    color:rgb(10, 90, 53);
    font-weight: bold;
}

img { 
    border: 1px solid black;
    border-radius: 10px;
    padding: 1px;
    object-fit: fill;
    width: 500px;
    height: 500px;
    display: center;
}
  
  .details {
    display: flex;
    flex-direction: row;
    
}

.select {
    display: fill;
    flex-direction: column;
    align-items: space-between;
    margin: 20px;
    text-align:center
}

/*.select img {
    margin-top: 10px;
    width: 200px;
    border-radius: 10px;
    border: 5px solid black;
    
}



/*img { 
    border: 1px solid black;
    border-radius: 10px;
    padding: 1px;
    object-fit: fill;
    width: 500px;
    height: 500px;
    display: center;
}
   


/*section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 40vh 30vh 30vh;
    grid-gap: 10px;
    grid-template-areas: 
      
  }
  
  


/*.row {
    display: flex;
  }
  
  .column {
    flex: 33.33%;
    padding: 5px;
  }
  
/*section { display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1,1fr);
    padding-block: 2rem;
    width: min(95%,70rem);
    margin: 2rem;
    margin-right: 2rem;
    row-gap: 1rem;
    height: 100vh;
    width: 100vw;
}


